{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "googleappsscript/googleappsscript": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "strict": 0
  },
  "plugins": [
    "googleappsscript"
  ],
}
